.tinderCards__cardContainer {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.swipe {
  position: absolute;
}

.card {
  position: relative;
  background-color: #fff;
  width: 300px;
  max-width: 85vw;
  height: 50vh;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.card h3 {
  color: #fff;
  position: absolute;
  bottom: 0;
  margin: 10px;
}
